# Pós-Graduação - Ciência de Dados & Big Data

## Pontifícia Universidade Católica de Minas Gerais (PUC-MG)

### Aluno: Victor Hugo Negrisoli

### Utilizando funções Spark: operações com RDD

In [2]:
from pyspark.sql import SparkSession

Neste Notebook serão utilizadas funções do Spark trabalhando com RDDs, são elas:

* Map
* Reduce
* Filter
* Collect
* Count
* CountByValue
* Intersection
* Parallelize
* Aggregate
* Union
* TakeSample
* FlatMap

In [3]:
pessoas = []
pessoas.append({
  'id': 1,
  'nome': 'Bob',
  'idade': 45,
  'gen': 'M'
})
pessoas.append({
  'id': 2,
  'nome': 'Gloria',
  'idade': 43,
  'gen': 'F'
})
pessoas.append({
  'id': 4,
  'nome': 'Albert',
  'idade': 28,
  'gen': 'M'
})
pessoas.append({
  'id': 5,
  'nome': 'Laura',
  'idade': 33,
  'gen': 'F'
})
pessoas.append({
  'id': 8,
  'nome': 'Simone',
  'idade': 18,
  'gen': 'T'
})
pessoas.append({
  'id': 12,
  'nome': 'Marta',
  'idade': 45,
  'gen': 'F'
})
pessoas.append({
  'id': 45,
  'nome': 'Jairo',
  'idade': 82,
  'gen': 'M'
})
pessoas.append({
  'id': 13,
  'nome': 'Teste',
  'idade': 38,
  'gen': 'T'
})

In [4]:
spark = SparkSession\
            .builder\
            .appName("Pratica - Funções Spark")\
            .getOrCreate()

In [5]:
sc = spark.sparkContext

In [6]:
pessoasRDD = sc.parallelize(pessoas)

In [8]:
lista_collect = pessoasRDD.collect()
lista_collect

[{'id': 1, 'nome': 'Bob', 'idade': 45, 'gen': 'M'},
 {'id': 2, 'nome': 'Gloria', 'idade': 43, 'gen': 'F'},
 {'id': 4, 'nome': 'Albert', 'idade': 28, 'gen': 'M'},
 {'id': 5, 'nome': 'Laura', 'idade': 33, 'gen': 'F'},
 {'id': 8, 'nome': 'Simone', 'idade': 18, 'gen': 'T'},
 {'id': 12, 'nome': 'Marta', 'idade': 45, 'gen': 'F'},
 {'id': 45, 'nome': 'Jairo', 'idade': 82, 'gen': 'M'},
 {'id': 13, 'nome': 'Teste', 'idade': 38, 'gen': 'T'}]

Filtarndo pessoas acima de 30 anos com a função ``Filter``

In [15]:
lista_maiores_30 = pessoasRDD \
                        .filter(lambda x: x['idade'] > 30)
lista_maiores_30.collect()

[{'id': 1, 'nome': 'Bob', 'idade': 45, 'gen': 'M'},
 {'id': 2, 'nome': 'Gloria', 'idade': 43, 'gen': 'F'},
 {'id': 5, 'nome': 'Laura', 'idade': 33, 'gen': 'F'},
 {'id': 12, 'nome': 'Marta', 'idade': 45, 'gen': 'F'},
 {'id': 45, 'nome': 'Jairo', 'idade': 82, 'gen': 'M'},
 {'id': 13, 'nome': 'Teste', 'idade': 38, 'gen': 'T'}]

In [16]:
total_acima_30 = lista_maiores_30.count()
total_acima_30

6

Verificando todos os registros que fazem parte do sexo masculino

In [17]:
lista_masculinos = pessoasRDD \
                        .filter(lambda x: x['gen'].upper() == 'M')
lista_masculinos.collect()

[{'id': 1, 'nome': 'Bob', 'idade': 45, 'gen': 'M'},
 {'id': 4, 'nome': 'Albert', 'idade': 28, 'gen': 'M'},
 {'id': 45, 'nome': 'Jairo', 'idade': 82, 'gen': 'M'}]

In [18]:
lista_masculinos.count()

3

Visualizando o total de pessoas por gênero diferente de T

In [23]:
pessoas_por_genero = pessoasRDD \
                        .filter(lambda gen: gen['gen'] != 'T') \
                        .map(lambda gen: gen['gen']) \
                        .countByValue()
pessoas_por_genero

defaultdict(int, {'M': 3, 'F': 3})