# Pós-Graduação - Ciência de Dados & Big Data

## Pontifícia Universidade Católica de Minas Gerais (PUC-MG)

### Aluno: Victor Hugo Negrisoli

### Utilizando funções do Spark SQL - leitura de dados, criação de tabelas e manipulação de dados com SQL

In [74]:
from pyspark.sql import SparkSession
from pyspark.sql import HiveContext
from pyspark.sql import SQLContext
from pyspark.sql import Row
import json
from datetime import datetime

In [3]:
spark = SparkSession \
                .builder \
                .appName('Prática - Spark SQL') \
                .getOrCreate()

Criando o contexto do Hive

In [4]:
sc = spark.sparkContext

In [23]:
hiveCtx = HiveContext(sc)

#### Lendo um arquivo JSON e criando uma tabela temporária a partir dele

In [24]:
dados = hiveCtx.read.json('pessoasval.json')

In [25]:
dados.registerTempTable('pessoas')

#### Realizando consultas na tabela usando linguagem SQL

In [93]:
pessoas = hiveCtx.sql("""SELECT * FROM pessoas ORDER BY 1 LIMIT 10""")
pessoas.collect()

[Row(dat='01/01/2015', id=8, val=23),
 Row(dat='01/10/2012', id=4, val=35),
 Row(dat='02/01/2002', id=12, val=10),
 Row(dat='04/06/2009', id=2, val=53),
 Row(dat='04/09/2009', id=2, val=503),
 Row(dat='08/09/2015', id=8, val=2003),
 Row(dat='12/01/2006', id=1, val=45),
 Row(dat='12/01/2006', id=13, val=99999),
 Row(dat='12/01/2006', id=45, val=200),
 Row(dat='12/01/2007', id=13, val=99999)]

In [94]:
pessoas_val_100_700 = hiveCtx.sql( \
                        """ \
                            SELECT * FROM pessoas \
                            WHERE val >= 100 AND val <= 700 
                        """
)

pessoas_val_100_700.collect()

[Row(dat='18/01/2012', id=4, val=345),
 Row(dat='12/01/2016', id=5, val=435),
 Row(dat='12/11/2000', id=12, val=100),
 Row(dat='12/01/2006', id=45, val=200),
 Row(dat='12/03/2006', id=1, val=405),
 Row(dat='04/09/2009', id=2, val=503)]

In [95]:
pessoas_id_maior_10_val_menor_500 = hiveCtx.sql( \
                        """ \
                            SELECT * FROM pessoas \
                            WHERE ID > 10 AND VAL < 500  
                        """
)

pessoas_id_maior_10_val_menor_500.collect()

[Row(dat='12/11/2000', id=12, val=100),
 Row(dat='12/01/2006', id=45, val=200),
 Row(dat='02/01/2002', id=12, val=10),
 Row(dat='12/12/2006', id=45, val=20)]

In [96]:
apenas_dat_valor = hiveCtx.sql( \
                        """ \
                            SELECT DAT, VAL FROM pessoas \
                            WHERE ID > 10 AND VAL < 500  
                        """
)

apenas_dat_valor.collect()

[Row(DAT='12/11/2000', VAL=100),
 Row(DAT='12/01/2006', VAL=200),
 Row(DAT='02/01/2002', VAL=10),
 Row(DAT='12/12/2006', VAL=20)]